<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Destination Database</div>
            <div class="panel-body">
                <div class="form-group form-group-info">
                    <label class="control-label">
                        Select your destination database
                    </label>
                    <select ng-options="d.name for d in viewModel.databases" class="form-control" ng-model="viewModel.destinationDatabase"></select>
                </div>
                <div class="form-group form-group-info">
                    <label class="control-label">
                        Enter the destination table name
                    </label>
                    <input type="text" class="form-control" ng-model="job.destinationTableName" placeholder="Destination Table Name" />
                </div>
                <span class="help-block">Create the C# Model of your destination table</span>
                <div ui-ace="{
                             useWrapMode: true,
                             mode: 'csharp',
                             theme: 'github'}" ng-model="job.destinationModelCs"></div>

                <br />
                <button class="btn btn-primary" ng-click="compileDestinationModel()">Compile</button>
            </div>
        </div>
    </div>
</div>