<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Destination Database</div>
            <div class="panel-body">
                <label>
                    Select your destination database
                    <select ng-options="d.name for d in databases" class="form-control" ng-model="destinationDatabase"></select>
                </label>
                <br />
                <label>
                    Enter the destination table name
                    <input type="text" class="form-control" ng-model="destinationTableName" placeholder="Destination Table Name" />
                </label>
                <br />
                Create the C# Model of your destination table
                <br /><br />
                <div ui-ace="{
                             useWrapMode: true,
                             mode: 'csharp',
                             theme: 'github'}" ng-model="destinationModel"></div>

                <br />
            </div>
        </div>
    </div>
</div>