<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Map Reduce</div>
            <div class="panel-body">
                Create the C# Map Reduce function to transform your source data to your destination data
                <br /><br />
                <div ui-ace="{
                             useWrapMode: true,
                             mode: 'csharp',
                             theme: 'github'}" ng-model="mapCs"></div>

                <br />
            </div>
        </div>

    </div>
</div>