<!DOCTYPE html>

<html>
<head>

    <title>Jinx | @ViewBag.Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/ripples.min.css" rel="stylesheet">
    <link href="~/css/material-wfont.min.css" rel="stylesheet">
    <link href="~/css/toastr.css" rel="stylesheet" />
    @RenderSection("head")
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="/">Jinx</a>
        <div class="container-fluid">
            <a href="/job" type="button" class="btn btn-default">Jobs</a>
            <a href="/database" class="btn btn-default">Database Servers</a>
        </div>
    </nav>
    <div id="content">
    @RenderBody()
    </div>

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="~/js/toastr.js"></script>
    <script src="~/js/lodash.min.js"></script>
    <script src="~/js/ripples.min.js"></script>
    <script src="~/js/material.min.js"></script>
    <script src="~/js/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script src="~/js/ui-ace.js"></script>
    <script src="~/js/app/services/api.js"></script>
    @RenderSection("scripts")
</body>
</html>